<template x-if="currentMedia && currentMedia.media_kind === 'image' && isKindLoading('image')">
    {% set loading_text = 'Loading image preview...' %}
    {% set loading_max_class = 'max-w-[56rem]' %}
    {% set loading_stage_class = 'min-h-[50vh]' %}
    {% set loading_frame_class = 'mx-auto aspect-[4/3] max-w-[48rem]' %}
    {% include 'partials/media/loading.html' %}
</template>

<template x-if="currentMedia && currentMedia.media_kind === 'image' && hasKindError('image')">
    {% if mode == 'desktop' %}
    {{ preview_unavailable_card('Image preview unavailable', 'We could not load this image in the viewer.', 'Download image') }}
    {% else %}
    {{ preview_unavailable_card('Image preview unavailable', 'We could not load this image in the viewer.', 'Download image', 'mx-3 my-3 w-auto') }}
    {% endif %}
</template>

<template x-if="currentMedia && currentMedia.media_kind === 'image' && isKindReady('image')">
    <div class="doc-image-scroll flex w-full justify-center p-3 md:py-2" x-ref="imageList">
        <img :src="currentMedia.src" :alt="`${title} page ${displayPage}`" loading="eager" draggable="false" @dragstart.prevent @load="setMediaReady('image')" @error="setMediaError('image')" class="block h-auto w-full select-none bg-white md:w-auto md:max-h-[70vh] md:max-w-[min(100%,56rem)] md:bg-slate-50">
    </div>
</template>
